/* Portfolio Styles */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Georama&display=swap');
/* CSS Variables */
:root {
  --primary-colour:rgb(106 36 91);
    --text-light: #8892b0;
    --text-lighter: #e6f1ff;
    --secondary-colour: #00aeef;
}
::selection {
    background: var(--secondary-colour);
    color: #fff;
}
/* Fonts */
h1, h2, h3, h4, h5, h6 {
font-family: 'Georama', sans-serif;
    color:var(--text-lighter);
    position: relative;
    z-index: 9;
    width: fit-content;
    padding: 5px 15px;
}
h1::before, h2::before, h3::before {
    content: "";
    background-color:var(--primary-colour);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 
}

body {
font-family: 'Lato', sans-serif;
    background: var(--primary-colour);
}
footer {
    background: var(--primary-colour);
    color: var(--text-lighter);
    padding: 5px;
    text-align: center;
}


/* reusable elements */
.round {
    border-radius: 100%;
}
section {
    background: #0a192f;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    color: var(--text-light);

}
.animateIn {
        animation: fade-in-up 2s forwards;
}
section.single-work-section {
    padding: 0;
    display: flex;
}
.work-detail {
     display: grid;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw;
color: var(--text-light);
}
section .half {
    width: 50%;
}

section:nth-of-type(2n) {
    background:#112240;
}

/* Intro Section */

section#intro {
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: dense;
    grid-template-rows: 3em 3em;
    padding: 15vw;
}

#intro img.round {
    grid-column: 2;
}

.btn-container {
    display: flex;
    margin-top: 1em;
}
a.btn.btn-squared, button#my-form-button  {
    text-decoration: none;
    border: 2px solid;
    text-align: center;
    padding: 5px;
    /* box-shadow: 2px 2px var(--text-lighter); */
    color: var(--text-lighter);
    border: 2px solid;
    transition: all .3s ease;
}
a.btn.btn-squared:hover, button#my-form-button:hover {
    color: var(--secondary-colour);
}
button#my-form-button {
    margin: 30px 0;
    background: none;
    cursor: pointer;
}

section#intro p, section#intro h1 {
    grid-column: 1;
}
/* Work Section */
.work-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5vw;
}

.work-image {
    position: relative;
    max-width: 250px;
}
.work-image img {
    max-width: 100% !important;
}
.half .work-image {
    max-width: 100%;
}

.slick-arrow {
    z-index: 99999;
    position: absolute;
}
.work-image::before {
    background: transparent;
}

.work-image::after {
    background: transparent;
    background-clip: 2px 2px 2px 2px;
}
/* contact */

#contact-form {
    display: grid;
}

#contact-form input, #contact-form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid var(--text-lighter);
    padding: 10px;
    margin: 5px 0;
    color:var(--text-lighter);
}
#contact-form input:focus, #contact-form textarea:focus {
    color: var(--secondary-colour);
}
input[type="text"]::placeholder, textarea::placeholder {
    color: var(--text-lighter);
}

/* Responsive */
@media screen and (max-width: 768px){
    section#intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

section {
    flex-wrap: wrap;
}

section.single-work-section .work-detail {
    order: 3;
}

section .half {
    width: 100%;
}
}